<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1 class="titulo"><%= title %></h1>
    <p class="bienvenida">Bienvenidos a <%= title %></p>
    <p class="botonVolver"><a href="/movies">Listado de Películas</a></p>
    <p class="botonVolver"><a href="/genres">Generos</a></p>
    <p class="botonVolver"><a href="/actors">Actores</a></p>
  </body>
</html>
